$primary: #2a6495;
$secondary: #2f5bd1;
$black: #141010;
$black-1: #282525;
$black-2: #666666;
$black-3: rgba(#000, 0.7);
$white: #fff;
$red: #ff0000;
$gray: #cccccc;
$font-primary: "Calibri", sans-serif;
