.bg {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: -1;
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.land {
  padding: 20px 0;
  max-width: 1025px;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
    &-group {
      width: 170px;
      position: relative;
      overflow: auto;
      height: calc(100vh - 40px);
      position: sticky;
      top: 20px;
      @include transition;
    }
    &-content {
      width: calc(100% - 210px);
      padding: 20px 0;
    }
  }
  &Item {
    width: 100%;
    &__image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-right: 20px;
    }
  }
  &Content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    &__box {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      & > p {
        width: calc(100% - 325px);
      }
      &-image {
        width: 210px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    &._lg {
      .land {
        &Content {
          &__body {
            &-image {
              width: 100%;
              max-width: unset;
            }
          }
          &__box {
            .video {
              padding-top: 25px;
            }
          }
        }
      }
    }
    &.active {
      max-height: unset;
      opacity: 1;
      pointer-events: all;
    }
  }
}
.grid {
  display: flex;
  justify-content: space-between;
  
  gap: 20px 15px;
  &__image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &._sm {
      &-extra {
        width: calc(60% - 10px);
        max-width: 440px;
      }
    }
  }
  &__box {
    width: calc(40% - 10px);
    max-width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    &-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
.video {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  &__box {
    width: 135px;
    height: 85px;
    position: relative;
    &-image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
      }
    }
    &-button {
      color: $red;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      cursor: pointer;
      @include transition;
      &::before {
        content: "";
        width: 90%;
        height: 90%;
        background: $white;
        border-radius: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
      svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
  // a {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   opacity: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index:2;
  // }
  p {
    font-size: 16px;
    line-height: 1em;
    cursor: pointer;
    @include transition;
    &:hover {
      color: $primary;
    }
  }
}
@mixin index-1240 {
  .land {
    &__inner {
      &-group {
        width: 150px;
      }
      &-content {
        width: calc(100% - 170px);
      }
    }
    &Item {
      &__wrapper {
        padding-right: 15px;
      }
    }
  }
}
@mixin index-1160 {
  .land {
    &__inner {
      &-group {
        width: 130px;
      }
      &-content {
        width: calc(100% - 150px);
      }
    }
    &Content {
      &__box {
        flex-direction: column;
        gap: 20px;
        .video {
          padding-top: 0;
          order: -1;
        }
        p {
          width: 100%;
        }
        &-image {
          width: 130px;
          padding: 0;
        }
      }
      &._lg {
        .land {
          &Content {
            &__box {
              .video {
                padding-top: 0;
                order: -1;
              }
            }
          }
        }
      }
    }
  }
}
@mixin index-840 {
  .land {
    padding: 0;
    &__inner {
      &-group {
        top: 70px;
        height: calc(100vh - 100px);
      }
      &-content {
        padding: 0;
      }
    }
  }
}
@mixin index-580 {
  .land {
    &__inner {
      &-group {
        width: 110px;
      }
      &-content {
        width: calc(100% - 125px);
      }
    }
    &Content {
      &__box {
        &-image {
          width: 100px;
        }
      }
    }
    &Item {
      &__wrapper {
        padding-right: 0;
        gap: 15px;
      }
    }
  }
  .grid {
    flex-direction: column;

    &__image {
      &._sm {
        &-extra {
          width: 100%;
          max-width: unset;
        }
      }
    }
    &__box {
      flex-direction: row;
      max-width: unset;
      width: 100%;
      &-image {
        width: 100px;
      }
      .video {
        width: calc(100% - 120px);
      }
    }
  }
}
@mixin index-460 {
  .land {
    &__inner {
      &-group {
        width: 100%;
        height: 110px;
        position: fixed;
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        z-index: 3;
        padding: 15px 15px;
        border-top: 1px solid $gray;
      }
      &-content {
        width: 100%;
      }
    }
    &Item {
      min-width: 100px;
      &__image {
        height: 50px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      &__wrapper {
        flex-direction: row;
      }
    }
  }
}
