.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  &--land {
    align-items: flex-start;
    padding-left: 270px;
  }
}
.autoContainer {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
.noBreak {
  white-space: nowrap;
}

@mixin components-1240 {
  .main {
    &--land {
      padding-left: 250px;
    }
  }
}
@mixin components-1160 {
  .main {
    &--land {
      padding-left: 220px;
    }
  }
}
@mixin components-840 {
  .main {
    &--land {
      padding: 70px 0 30px 0;
      height: auto;
    }
  }
}
@mixin components-460 {
  .main {
    &--land {
      padding: 70px 0 140px 0;
    }
  }
}
