.header {
  width: 100%;
  padding: 0.75em 0;
  z-index: 1;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  background-color: $white;
  border-bottom: 1px solid $gray;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 2;

    .burger {
      display: none;
    }
  }
  display: none;
}
.sidebar {
  flex-grow: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: 100%;
  width: 16em;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    position: relative;
    padding: 2.5em;

    &-logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @include transition;
      img {
        width: 100%;
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &-links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5em;
    }
    &-link {
      font-size: 1em;
      line-height: 1.2;
      padding: 0.2em 0;
      letter-spacing: -0.05em;
      color: $black-2;
      position: relative;
      transition: 0.25s ease-in;

      &:after {
        content: "";
        width: 10%;
        height: 1px;
        background: currentColor;
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        transition: 0.3s ease-out;
      }
      &:hover {
        color: $black;
        letter-spacing: 0.05em;

        &:after {
          opacity: 0.4;
          width: 90%;
        }
      }
      &.active {
        color: $black;
        letter-spacing: 0.1em;

        &:after {
          display: none;
        }
      }
    }
    &-copy {
      font-size: 18px;
      color: $black-3;
      transform: rotate(180deg) translate(0.25em);
      font-style: italic;
      writing-mode: vertical-rl;
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $primary;
  background: transparent;
  transition: 0.2s ease;
  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 0.4em;
    background-color: currentColor;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}

@mixin header-1280 {
  .sidebar {
    width: 13em;
    &__inner {
      padding: 1.8em;
    }
  }
}
@mixin header-1160 {
  .sidebar {
    width: 10em;
    &__inner {
      padding: 1.8em 1.2em;
    }
  }
}
@mixin header-1025 {
  .header {
    display: block;
    &__inner {
      display: flex;
      justify-content: space-between;
      &-logo {
        height: 2rem;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include transition;
        img {
          height: 100%;
          width: auto;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .burger {
        display: block;
      }
    }
  }
  .sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    width: 100%;
    height: calc(100% - 51px);
    background: $white;
    transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
    &__inner {
      width: 220px;
      height: 100%;
      &-logo {
        display: none;
      }
    }
    &.active {
      pointer-events: all;
      transform: translate(0);
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
    &--visible {
      pointer-events: all;
      transform: unset;
      opacity: 1;
      background: transparent;
      top: 0;
      height: 100%;
      .sidebar {
        &__inner {
          &-logo {
            display: flex;
          }
        }
      }
    }
  }
}

@mixin header-height-768 {
}
