@media (max-width: 1460px) {
  html,
  body {
    font-size: 18px;
  }
  @include index-1240;
}
@media (max-width: 1280px) {
  @include header-1280;
  @include layouts-1280;
}
@media (max-height: 768px) {
  html,
  body {
    font-size: 16px;
  }
}
@media (max-width: 1160px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  @include layouts-1160;
  @include header-1160;
  @include index-1160;
}
@media (max-width: 1025px) {
  // @include header-1025;
  @include header-1025;
  @include layouts-1025;
}
@media (max-width: 940px) {
}
@media (max-width: 840px) {
  @include index-840;
  @include layouts-840;
}
@media (max-width: 768px) {
  @include layouts-768;
}
@media (max-width: 580px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .autoContainer {
    padding: 0 15px;
  }
  @include index-580;
  @include layouts-580;
}
@media (max-width: 460px) {
  html,
  body {
    font-size: 14px;
  }
  @include index-460;
}
